div#invoices
  table#invoicesList.table.table-hover.table-bordered
    thead
      tr
        th Invoice / Client
        th Due date
        th Our comment
        th Total
        th.actions Actions
    tbody