li
  button.close.deleteProject(data-id=dataId) &times;
  button.close.addNewInvoice(href="#invoicesModal", data-toggle="modal", data-id=dataId) +
  button.close.editProject(href="#projectEditModal", data-toggle="modal", data-id=dataId) e
  a.projectId(data-id=dataId)= dataName
