doctype 5
html
  head
    title Invoices
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')

    script(src="/socket.io/socket.io.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js")
    script(src="/javascripts/libs/bootstrap.min.js")
  body
    block content